 <div class="footer-dark">
        <footer>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="/contact">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Rey Ban</h3>
                        <p>Somos una compañía Estadounidense manufacturera fabricante de gafas de sol, fundada en 1937 por Bausch & Lomb, usadas por primera vez por el Cuerpo Aéreo del Ejército de los Estados Unidos. En 1999 Bausch & Lomb vendió la marca a la compañía italiana Luxottica.</p>
                    </div>
                
                <p class="copyright">Diseñado por Facundo Agüero García © 2022</p>
            </div>
        </footer>
    </div>