<body>


<div id="carouselExampleControls" class="carousel slide mt-5" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/banner1.jpg" class="d-block w-100 h-auto altimg " alt="imagen de promocion" >
    </div>
    <div class="carousel-item">
      <img src="/assets/banner3.jpg" class="d-block w-100 h-auto altimg" alt="lentes de sol" >
    </div>
    <div class="carousel-item">
      <img src="/assets/banner2.jpg" class="d-block w-100 h-auto altimg" alt="lentes con aumento" >
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>    

<section><div class="col-auto text-center divprom1"><h1>COLECCIÓN REY-BAN 2022</h1>
Descubre nuestra colección de lentes de sol Rey-Ban para hombres, mujeres y niños.
Escoge entre los más nuevos o los más clásicos, disponibles en diferentes modelos, armazones y micas, incluyendo polarizadas.
Mira entre las formas más icónicas como el Aviator, Wayfarer, Clubmaster, Round, New Wayfarer y mucho más.</div>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="divprom">
  <img class="rounded img-thumbnail img-fluid" src="/assets/rayban-clubmaster-reedicion-gafas-sol-1508502452.jpg" alt="modelos posando">
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="divprom2"><h3>EL PROCESO CREATIVO</h3>
Todos los lentes de sol Rey-Ban están hechos bajo un proceso creativo paso a paso, desde el diseño hasta el control de calidad.
Los armazones están hechos de diferentes materiales como acetato, titanio, metales hipoalergénicos y todos deben cumplir estrictos controles de calidad para convertirlos en los mejores lentes de sol del mercado.
Cada paso del proceso tiene como objetivo lograr el mejor diseño, funcionalidad y comodidad que distinguen a Rey-Ban en todo el mundo.</div></div></section>
</div></div>

</body>
